
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
  scroll-behavior: smooth;
}


#logo {
  padding-left: 1em;
}

nav{
  background: ###cde1d2;
}
.navLogo {
  width: 6%;
}

.jumbotron {
  margin-bottom: 0;
}

.logo-text{
  font-family: 'Pacifico', cursive;
  font-size-adjust: inherit;
}

}
#nav-block {
  background-color: #a5a58d;
}

.bg-img {
  background: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 80vh;
}

.about{
  padding: 10%;
  margin: 0 ;
}
.bg-doc{
  background: url('../Images/doc-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  
}

.nav-link{
color: #fff;
}
.bod{
color: #14213d;

}

button{
  align-self: center;
}


.board{
  /* background: rgb(204,223,213);
background: linear-gradient(-45deg, rgba(204,223,213,1) 73%, rgba(204,223,213,1) 73%, rgba(246,245,243,1) 73%); */


background: rgb(204,217,209);
background: linear-gradient(-45deg, rgba(204,217,209,1) 13%, rgba(241,247,245,1) 13%, rgba(241,247,245,1) 86%, rgba(204,217,209,1) 86%);

  height: 60vh;
  padding-top: 2%;
  
}

.card{
  margin: 0.5%;
}


.d-flex{
  flex-wrap: nowrap;
}


#contact{
  /* background: rgb(204,217,209);
  background: linear-gradient(-45deg, rgba(241,247,245,1) 73%, rgba(241,247,245,1) 74%, rgba(204,217,209,1) 74%,  rgba(204,217,209,1) 8%, rgba(241,247,245,1) 8%); */

  background: rgb(239,245,243);
background: linear-gradient(-45deg, rgba(239,245,243,1) 15%, rgba(204,217,209,1) 15%, rgba(204,217,209,1) 73%, rgba(239,245,243,1) 73%);
}



#products {

  /* background: rgb(204,217,209);
  background: linear-gradient(-45deg, rgba(204,217,209,1) 43%, rgba(241,247,245,1) 43%);  */

  background: rgb(241,247,245);
background: linear-gradient(-45deg, rgba(241,247,245,1) 30%, rgba(204,217,209,1) 30%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}























@media all and (max-width: 880px) {
  .d-flex{
    flex-wrap: wrap;
    
  }

  .about{
    padding: 5px;
    margin: 0 ;
  }

  .card{
    width: 100%;
  }
  .bg-doc {
     background: rgb(201,219,207);
  background: linear-gradient(-45deg, rgba(201,219,207,1) 50%, rgba(244,251,247,1) 50%);
    height: auto;
    
  }
  .bg-img{
    height: auto;
  }
  .board{
    height: auto;
  }
  .display-2, .display-4:disabled

}

@media all and (max-width: 575px)  {

  .card-img{
    width: 80vh;
  }
  

}




.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.card-img{
  object-fit: cover;
}
