html {
  scroll-behavior: smooth;
}


#logo {
  padding-left: 1em;
}

.cor {
  width: 2553px;
  height: 799px;
  margin: 0;
}

.navLogo {
  width: 60px%;
}

.jumbotron {
  margin-bottom: 0;
}

#nav-block {
  background-color: #a5a58d;
}

.bg-img {
  background: url('../images/136920.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff
}