html {
  scroll-behavior: smooth;
}


#logo {
  padding-left: 1em;
}


.navLogo {
  width: 6%;
}

.jumbotron {
  margin-bottom: 0;
}

#nav-block {
  background-color: #a5a58d;
}

.bg-img {
  background: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 80vh;
}

.about{
  padding: 10%;
  margin: 0 ;
}
.bg-doc{
  background: url('../Images/doc-small.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.nav-link{
color: #fff;
}
.bod{
color: #F8F7F9;

}

button{
  align-self: center;
}


.board{
  background-color: #1f232f;
  height: 100%;
}

.card{
  margin: 0.5%;
}
.d-flex{
  flex-wrap: nowrap;
}

@media all and (max-width: 880px) {
  .d-flex{
    flex-wrap: wrap;
    
  }

  .card{
    width: 100%;
  }
  .bg-doc {
    background: none;
    height: 40vh;
    
  }
  .bg-img{
    height: 50vh;
  }

}

@media all and (max-width: 1200px and min-width: 990)  {


}




.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.card-img{
  object-fit: cover;
}